<h1><%= "Episode #{@episode.number} - #{@episode.date.strftime("%B %d, %Y")}" %></h1>

<h4>List of Guests: </h4>
<p><% @episode.guests.each do |guest| %>
<%= link_to guest.name, guest_path(guest) %>
<% end %>
</p>
