<h1><%= "Appearance by #{@appearance.guest.name} on Episode #{@appearance.episode.number}" %></h1>


<li><%= link_to "Episode #{@appearance.episode.number} - #{@appearance.episode.date.strftime("%B %d, %Y")}", episode_path(@appearance.episode) %></li>
<li><%= link_to "#{@appearance.guest.name}", guest_path(@appearance.guest) %></li>
<li>Rating: <%= @appearance.rating %></li>
